body {
  align-content: center;
  border: 2px solid greenyellow;
  background-color: indianred;
  padding: 4%;
}
#first {
  text-align: center;
  color: green;
  border: 3em solid blanchedalmond;
  background-color: coral;
  padding: 5px;
}
#second {
  text-align: center;
  color: blue;
}
#three {
  text-align: center;
}

#four {
  text-align: center;
}
#five {
  align: center;
}
